#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s9 --onboot=off --ipv6=auto --activate
network  --hostname=openstack
# Root password
rootpw --iscrypted $6$d4XyOiZKKDuyrOGF$BbV8lTExbD4kZbEQe./.Yn4R4oToD4JdCrThOkImBXMy2qI3Fphm0bNGuqGjM2G.ufSPT37Oh4o/Wmaac6UGX0
# System timezone
timezone America/New_York --isUtc
user --name=kampy --password=$6$pLhmfcF20JZAUp6u$QbiUnsuuiN86qENOXYN.FOSrseqjY5YUg9/84bMj.5sfIljlzUpzIFT6cn99DBN3cOr4NONd2WY3cWDBO.hpX0 --iscrypted --gecos="kampy"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core

%end

